{% extends "flatpages_plus/base_flatpages_plus.html" %}

{% block title %}::List Pages{% endblock %}

{% block base_content %}
<div class="row-fluid show-grid">
	<div class="span8">    <form method="GET" action="/help/search/" class="form-search">{% csrf_token %}
            <input type="text" name="q" id="q" class="input-medium search-query" value="{{ query }}"/>
            <input type="submit" value="Search" class="btn" />
    </form></div>
	<div class="span4" style="margin-bottom:10px;">
		<a href="/help/add" style="float: right" class="btn btn-link">Add Page</a></div>
</div>
    <table width="100%" class="table table-bordered table-hover">
    	<thead>
    	<th>Name</th>
    	<th>Title</t>
    	<th>Url</t>
    	<th>Actions</th>
    	</thead>
    	<tbody>
    {% for list in data %}
    	<tr>
    		<td>{{ list.name }}</td>
    		<td>{{ list.title }}</td>
    		<td>{{ list.url }}</td>
    		<td><a href="{{ list.url }}">View</a> | <a href="/help/update/{{ list.id }}">Edit</a> | <a href="/help/delete/{{ list.id }}">Delete</a></td>
    	</tr>
    {% endfor %}
    {% if data|length == 0 %}
    	<tr>
    		<td colspan="4"><div class="alert">No help page added!</div></td>
    	</tr>
    {% endif %}
    </tbody>     
    </table>

    {{ flatpage.content }}

{% endblock %}

