{% extends "flatpages_plus/base_flatpages_plus.html" %}

{% block title %}::List Pages{% endblock %}

{% block base_content %}

    <table width="100%" class="table table-bordered table-hover">
    	<thead>
    	<th>Name</th>
    	<th>Title</t>
    	<th>Url</t>
    	<th>Actions</th>
    	</thead>
    	<tbody>
    {% for list in data %}
    	<tr>
    		<td>{{ list.name }}</td>
    		<td>{{ list.title }}</td>
    		<td>{{ list.url }}</td>
    		<td><a href="{{ list.url }}">View</a> | <a href="/flatpage/update/{{ list.id }}">Edit</a></td>
    	</tr>
    {% endfor %}
    </tbody>     
    </table>

    {{ flatpage.content }}

{% endblock %}

