{% extends "flatpages_plus/base_flatpages_plus.html" %}

{% block title %}::Update Page{% endblock %}

{% block base_content %}
<form method="post" action="" class="form-horizontal">{% csrf_token %}
        {% for field in form %}
        	{% if field.name == 'sites' %}
    	     <div class="controls" style="display:none"> {{ field }}</div>
        	{% else %}
    <div class="row show-grid" style="margin-bottom: 5px">
        <div class="span2">{{ field.label_tag }} </div> 
         <div class="span4"> {{ field }}</div>
         
         {% if field.errors %}
         	<div class="span4 alert alert-error">{{ field.errors|striptags }}</div>
         {% else %}
         	<div class="span4"></div>
         {% endif %}
         
    </div>
    		{% endif %}
        {% endfor %}
    <div class="span4 offset4"><button type="submit" class="btn">Save</button></div>
</form>
{% endblock %}    