{% extends "flatpages_plus/base_flatpages_plus.html" %}

{% block title %}::Update Page{% endblock %}

{% block base_content %}
    <form class="form-horizontal">
    <div class="control-group">
    <label class="control-label" for="inputUrl">Url</label>
    <div class="controls">
    <input type="text" id="inputUrl" placeholder="Url" value="{{ data.url }}">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputName">Page Title</label>
    <div class="controls">
    <input type="text" id="inputTitle" placeholder="Page Title" value="{{ data.title }}">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputName">Link Name</label>
    <div class="controls">
    <input type="text" id="inputName" placeholder="Link Name" value="{{ data.name }}">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputName">Content</label>
    <div class="controls">
    <textarea rows="5" cols="35" name="inputContent">{{ data.content }}</textarea>
    </div>
    </div>
    <button type="submit" class="btn">Save</button>
    </div>
    </div>
    </form>
{% endblock %}    